<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="AStarModule" Language="1033" Version="1.0.0.0">
    
<!--Program GUIDs>
<FlexSim="EC3CA131-5A5C-4BEF-BDE8-7988C990808E">
<FlexSimChinese="600761C3-A65F-4161-BCE8-86F78C1F5781">
<FlexSimJapanese="56938B61-6A71-47AD-8B98-E491A7C8B903">
<FlexSimChineseTraditional="FE2BA084-0F3E-4B82-BF78-6A47E732E846">
</Program GUIDs-->
    <Package Id="6EBAF277-0D85-4030-80A6-961EF0DFFC06" Manufacturer="FlexSim Software Products Inc." InstallerVersion="200" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <?if $(var.Platform) = x86 ?>
<!--Program GUIDs>
<FlexSim="DA7BC424-9E8D-4442-82C8-709CCF5CCFBC">
<FlexSimChinese="1D00FF86-AC87-4F81-A735-2C914B94C0B4">
<FlexSimJapanese="A07A4DEB-96F9-4A67-B160-C84B38A4BFD7">
<FlexSimChineseTraditional="58DD552A-6742-471F-A108-6F6CD340D80F">
</Program GUIDs-->
          <Component Id="DLLBinaries_x86" Guid="8C85D7DC-C100-4B3C-8689-BC093CA8D93F">
            <File Name="AStar_x86.dll" Source="$(var.ProjectDir)AStar_x86.dll" />
          </Component>
        <?else?>
<!--Program GUIDs>
<FlexSim="A7C75078-549D-41C5-9C30-7966601B1310">
<FlexSimChinese="8831EC12-3300-474F-B94F-CAA37C0123E6">
<FlexSimJapanese="A16DB70A-D279-4433-990E-9C4ED3653CFD">
<FlexSimChineseTraditional="5D6A739F-766F-455B-8363-8BDD8CF03012">
</Program GUIDs-->
          <Component Id="DLLBinaries_x64" Guid="B8FF3568-4258-4C2F-AD1E-1FB4499D7BDD">
            <File Name="AStar.dll" Source="$(var.ProjectDir)AStar.dll" />
          </Component>
        <?endif?>
<!--Program GUIDs>
<FlexSim="3464FF47-264B-436B-9D16-F8389A6A5C8C">
<FlexSimChinese="F9B944D4-7EE6-4FB4-AA4D-6495764AD10C">
<FlexSimJapanese="E1D2FC51-0F9C-432C-BB60-09A16E819B40">
<FlexSimChineseTraditional="816D26CA-163A-4943-AFF2-AA261BA2E1C2">
</Program GUIDs-->
        <Component Id="ModuleTree" Guid="03C7E4DD-62F2-465C-AC18-D035161881F1">
          <File Name="AStar.t" Source="$(var.ProjectDir)AStar.t" />
        </Component>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="group_bitmaps"/>
    <ComponentGroupRef Id="group_cursors"/>
    <ComponentGroupRef Id="group_shapes"/>
    
  </Module>
</Wix>
