<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="AStarModule" Language="1033" Version="1.0.0.0">
    
<!--Program GUIDs>
<FlexSim="235FCA68-C1FC-4A06-A52E-3DD0C07D4CE3">
<FlexSimChinese="0A2C6B53-115F-4467-B697-9D7C7048C16C">
<FlexSimJapanese="63713FBB-69D5-465D-A419-C87E41C33D88">
<FlexSimChineseTraditional="7753E5E9-2111-48E4-B151-7CD1B9FD09A2">
<FlexSimSpanish="2F759CD2-EEF9-4827-B7A2-AF8543BCC05B">
</Program GUIDs-->
    <Package Id="6EBAF277-0D85-4030-80A6-961EF0DFFC06" Manufacturer="FlexSim Software Products Inc." InstallerVersion="200" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <?if $(var.Platform) = x86 ?>
<!--Program GUIDs>
<FlexSim="D6AB0F58-EEA7-4E18-9D6E-4B44273C6A15">
<FlexSimChinese="49F03128-20C2-415D-B9C6-D9A2899B659F">
<FlexSimJapanese="ABBDCC06-1ECA-4F2E-87A2-11FF7D693D83">
<FlexSimChineseTraditional="61DF4FCC-8985-4C73-A703-1560296C198E">
<FlexSimSpanish="0DB6938E-766E-4120-9106-3F2A5AD9C335">
</Program GUIDs-->
          <Component Id="DLLBinaries_x86" Guid="8C85D7DC-C100-4B3C-8689-BC093CA8D93F">
            <File Name="AStar_x86.dll" Source="$(var.ProjectDir)AStar_x86.dll" />
          </Component>
        <?else?>
<!--Program GUIDs>
<FlexSim="15655A21-B0B9-4ABF-8134-62591EE440CE">
<FlexSimChinese="B4F875EC-EE69-4172-B478-32FE2C375B1C">
<FlexSimJapanese="269BA9D7-04D2-4054-A6E8-6FF5C2B13C19">
<FlexSimChineseTraditional="C8C97013-DDA7-4271-B894-3AD0B21A364E">
<FlexSimSpanish="5F6C1B1C-EA36-43AD-871A-61ECD796B13A">
</Program GUIDs-->
          <Component Id="DLLBinaries_x64" Guid="B8FF3568-4258-4C2F-AD1E-1FB4499D7BDD">
            <File Name="AStar.dll" Source="$(var.ProjectDir)AStar.dll" />
          </Component>
        <?endif?>
<!--Program GUIDs>
<FlexSim="0A57F55F-8261-491F-950E-8C7E98DCECEE">
<FlexSimChinese="7EECF1E2-3B29-4056-B728-0184F24B6390">
<FlexSimJapanese="DC56E287-D8E9-45FF-A54E-07E11CDBD6CD">
<FlexSimChineseTraditional="FCC2A806-A2A1-4452-8061-D506B893D367">
<FlexSimSpanish="FB308834-0F98-420D-9FFD-E6BC675FD54B">
</Program GUIDs-->
        <Component Id="ModuleTree" Guid="03C7E4DD-62F2-465C-AC18-D035161881F1">
          <File Name="AStar.t" Source="$(var.ProjectDir)AStar.t" />
        </Component>
      </Directory>
    </Directory>

    <ComponentGroupRef Id="group_bitmaps"/>
    <ComponentGroupRef Id="group_cursors"/>
    
  </Module>
</Wix>
