<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="group_localization">
      <ComponentRef Id="comp_AStar_Localization_jaJP" />
    </ComponentGroup>
    <DirectoryRef Id="MergeRedirectFolder">
<!--Program GUIDs>
<FlexSim="BB6DF434-D0B3-48E7-9A3A-969F1CD2D5E5">
<FlexSimChinese="EE5631FA-9D5A-4B6E-8A81-61EFA7F1AB02">
<FlexSimJapanese="0085EFB6-3776-4E7B-AA8E-7A2116B11245">
<FlexSimChineseTraditional="59CC5CC2-3682-4FCA-967D-1C20EEA7E06C">
<FlexSimSpanish="A6F2ADA9-BB35-48D8-B3BB-DB1DE5055134">
</Program GUIDs-->
      <Component Id="comp_AStar_Localization_jaJP" Guid="F7A8B9C0-D1E2-4F5A-3B4C-6D7E8F9A0B1C">
        <File Id="file_AStar_jaJP_t" KeyPath="yes" Source="$(var.ProjectDir)localization\AStar.ja-JP.t" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>

