<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <DirectoryRef Id="InstallDir">
      <Directory Id="BitmapsDir" Name="bitmaps">
        <Component Id="Bitmaps" Guid="90FF25EF-83E5-4363-A300-BF76D0CE223E">
          <File Name="astar.bmp" Id="AStarThumbNail"/>
          <File Name="astarnavigator.ico" Id="AStarNavigatorIcon"/>
          <File Name="astarnavigator.png" Id="AStarNavigatorThumbNail"/>
          <File Name="astarnavigatorsmall.png" Id="AStarNavigatorSmallThumbNail"/>
          <File Name="divider.bmp" Id="DividerEditMode"/>
          <File Name="onewaydivider.bmp" Id="OneWayDividerEditMode"/>
          <File Name="preferredpath.bmp" Id="PreferredPathEditMode"/>
          <File Name="solidbarrier.bmp" Id="SolidBarrierEditMode"/>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>